@mixin flexBoxColumn {
    display: flex;
    flex-direction: column;
 }

 @mixin catTopbg(
    $imgRoot,
    $imgPosition : center,
    $imgSize : contain,
    $imgRepeat : no-repeat
){
    background: url($imgRoot);
    background-position: $imgPosition;
    background-size: $imgSize;
    background-repeat: $imgRepeat;
}
 
