* {
  margin: 0;
  padding: 0;
  font-family: $defaultFontFamily;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}

/* Austyn's normalize */
h1,
h2,
h3,
h4,
ul,
ol,
li,
a,
figure,
p {
  /* Sanitize Bootstrap */
  margin: 0;
}

h1 {
  font-weight: $semiBold;
  font-size: 30px;
}

h2 {
  color: $titleGreenColor;
  text-align: center;
  text-transform: capitalize;
  font-size: 28px;
}

h3 {
  color: $subTitleBlueColor;
  text-transform: capitalize;
  font-size: 22px;
}

a {
  color: $darkGrayFontColor;
  text-decoration: none;
  line-height: 1.5;
}

p {
  color: $darkGrayFontColor;
  line-height: 1.5;
}

/* Austyn's normalize END */

/* Tina's normalize */
.accordion-header i {
  color: $catIcodionFontColor;
  font-size: 14px;
}

.accordion-item button {
  background-color: $otherColor2;

  ::after {
    background-color: $accordionHoverColor;
    color: $otherColor1;
  }
}

.catBlockQuote {
  font-family: $givenFont1;
}

.cardCat a {
  background-color: $otherColor2;
  border-color: $otherColor3;

  &:hover {
    background-color: $accordionHoverColor;
  }
}

#catTable {
  > thead {
    font-size: 16px;
    font-weight: 600;
    font-family: $givenFont1;
  }

  i:hover {
    color: whitesmoke;
  }

  td {
    font-family: $givenFont2;
    font-size: 16px;
    font-weight: 300;

    &:hover {
      color: whitesmoke;
    }
  }
}
/* Tina's normalize END */

/* Angel's normalize */
.headerF,
.mainF,
.footerF {
  font-family: "Raleway", sans-serif;
}
.headerF p,
.mainF p,
.footerF p {
  color: $textColor;
  font-weight: 300;
  text-align: justify;
}
.mainF {
  padding: 5vh 0%;
  @include dspyBox(column, unset, center);
  row-gap: 5vh;
}
/* Angel's normalize END */
