// @import "variables";
// @import "mixins";
// @import "normalize";
// @import "devices/mobile";
// @import "devices/tablet";
// @import "devices/desktop";
*{
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
.headerF,.mainF, .footerF{
    font-family: 'Raleway', sans-serif;
}
.headerF p,.mainF p,.footerF p{
    color: $textColor;
    font-weight: 300;
    text-align: justify;
}
.mainF{
    padding: 5vh 0%;
    @include dspyBox(column,unset, center);
    row-gap: 5vh;
}
