@import url('https://fonts.googleapis.com/css2?family=Combo&family=Open+Sans:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Osw');


$givenFont1          : 'Merriweather', 'Helvetica', sans-serif;
$givenFont2          : 'Bree Serif', 'Helvetica', sans-serif;
$fontColor           :  rgb(144, 131, 131);
$catH2FontColor      :  rgb(97, 85, 85);
$catPFontColor       :  rgb(101, 94, 94);
$catEmFontColor      :  rgb(122, 115, 115);
$catStrongFontColor  :  rgb(50, 47, 47);
$catIcodionFontColor :  #20dbce;
$accordionBgColor    :  #4adf9f;
$accordionHoverColor :  #8a0a16;
$otherColor1         :  #a90e0c;
$otherColor2         :  #b6760c;
$otherColor3         :  #3b2604;


