@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600&display=swap");
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css);
@import url("https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink:wght@400;700&family=Open+Sans:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Combo&family=Open+Sans:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab|Merriweather|Josefin+Slab|Osw');

/* Tina's  VARIABLES */
$defaultFontFamily   : "Open Sans", sans-serif;
$givenFont1          : 'open sans';
$givenFont2          : 'Bree Serif', 'Helvetica', sans-serif;
$fontColor           :  rgb(144, 131, 131);
$catH2FontColor      :  rgb(97, 85, 85);
$catPFontColor       :  rgb(101, 94, 94);
$catEmFontColor      :  rgb(122, 115, 115);
$catStrongFontColor  :  rgb(50, 47, 47);
$catIcodionFontColor :  #20dbce;
$accordionBgColor    :  #4adf9f;
$accordionHoverColor :  #8a0a16;
$otherColor1         :  #a90e0c;
$otherColor2         :  #b6760c;
$otherColor3         :  #3b2604;
/* Tina's  VARIABLES END */

/* Angel's VARIABLES */
$navColor: #728f80;
$aHover: #00796b;
$headerA: #607d8b;
$headerAhover: #b2dfdb;
$niceBlue: #0097a7;
$textColor: #212121;
$sectionColor: #bdbdbd;
$footerBg: #757575;
$asideBg: #455a64;
$figEven: #9e9e9e;
$figOdd: #616161;
$ulBg: rgba(69, 90, 100, 0.5);
$niceBrown: #5b4d49;
$deepBlue: #1c3547;
$darkGreen: #504f1b;
/* Angel's VARIABLES END */

/* Austyn's VARIABLES */
$defaultFontFamily: "Open Sans", sans-serif;
$h1FontFamily: "Aref Ruqaa Ink", serif;

$smBreakpoint: 200px;
$mdBreakpoint: 600px;
$lgBreakpoint: 1000px;

$defaultFontSize: 16px;

$light: 300;
$regular: 400;
$semiBold: 600;
$bold: 700;

$navFixedGap: 8vh;

$second: 0.4s;

$mobileBgHeaderHeight: 152vw;
$tabletBgHeaderHeight: 70vw;
$desktopBgHeaderHeight: 90vh;

$headerBgMenuColor: rgba(170, 170, 170, 0.4);

$darkIconColor: #797979;
$lightIconColor: darkgray;

$titleGreenColor: mediumseagreen;
$subTitleBlueColor: steelblue;

$darkPinkColor: #e33857;
$regularPinkColor: #d85a71;
$lightPinkColor: #fad9df;
$focusPinkColor: rgba(217, 76, 102, 0.5);

$aFontColor: cornflowerblue;

$blockquoteFontColor: darkgoldenrod;

$buttonBlueColor: dodgerblue;
$buttonGreenColor: darkcyan;
$buttonRedColor: #ae2222;

$cardBorderColor: #dbdbdb;

$darkGrayFontColor: #333;
$lightGrayFontColor: #707070;

$darkNavBtnColor: #777;
$lightNavBtnColor: #acacac;
/* Austyn's VARIABLES END */
