@media(min-width: 200px){

    .headerF{
        background-color: black;
        > nav{
            padding: 1%;
            @include dspyBox(row, space-between, center);
            background-color: whitesmoke;
            ul{
                width: 60%
            }
            a{
                color: $navColor;
            }
            a:hover{
                color: $aHover;
            }
        }
        ul{
            @include dspyBox(row,center);
            column-gap: 4vh;
            row-gap: 1vh;
            flex-wrap: wrap
        }

        li{
            @include dspyBox;
        }

        > article{
            @include imgBg(
            "/img/headerBgF.jpg",
            100%,
            100%,
            contain,
            left
            );
            height: 20vh;
            @include dspyBox(row, center, center);

        }
        h1{
            color: whitesmoke;
            letter-spacing: 3px;
            font-size: 40px;
        }
        a{
            text-transform: uppercase;
            text-decoration: none;
        }
        h2{
            font-size: 30px;
        }
        > section{
            padding: 1%;
            padding-bottom: 3%;
            a{
             color: $headerA; 
            }
            a:hover{
                color: $headerAhover;
            }
        }
    }
    .mainF{
        @include imgBg(
            "/img/bodyBgF.jpg",
            100%,
            100%,
        );
        > section{
            background-color: $sectionColor;
            padding: 5%;
            @include dspyBox(column);
            width: 80%;
            row-gap: 3vh;
        }
    }
    .aboutF{
        aside:first-child{
            @include imgBg(
                "/img/fish-3.jpg",
                100%,
                40vh
            );
        }
        aside:last-child{
            @include imgBg(
                "/img/fish-2.jpg",
                100%,
                40vh
            );
        }
        > article{
        @include dspyBox(column, unset, center);
        row-gap: 2vh;
    }

    }
    .careF{
        align-items: center;
        > section{
            @include dspyBox(row, center);

        }
        ul{
            width: 80%;
            @include dspyBox(column);
            row-gap: 2vh;
        }
        li{
            @include dspyBox(column);
            row-gap: 2vh;
        }
        > aside{
            @include imgBg(
                "/img/fish-1.jpg",
                100%,
                40vh
            );
        }
        a{
            text-decoration: none;
            color: $aHover;
        }
    }
    .behaviourF{
        > section, ul{
            @include dspyBox(column);
            row-gap: 3vh;
        }
        > section{
            align-items: center;
        }
        ul{
            width: 80%;
            padding: 7%;
            background-color: $ulBg;
        }
        li{
            @include dspyBox(column);
            row-gap: 2vh;
        }
        aside{
            width: 80%;
            height: 1.5vh;
            background-color: $asideBg;
        }
        h4{
            color: $headerAhover;
        }
        p{
            color: gainsboro;
        }
    }
    .speciesF{
        img{
            width: 100%
        }
        > section{
            @include dspyBox(column, unset, center);
            row-gap: 3vh;
        }
        
    }
    
}