/* DESKTOP DEVICE VERSION */
@media (min-width: $lgBreakpoint) {
  /* HEADER SECTION */
  header {
    > article {
      @include bgPic("/img/hamster/bg-header.png", left, cover, 90vh);
      a {
        width: 40%;
        column-gap: 1vh;
        padding: 3vh;
      }
    }
  }
  .navbar-toggler {
    display: none;
  }
  .container-fluid {
    ul {
      width: 30%;
      @include flexMenu;
      a {
        @include navHoverChange;
      }
    }
  }
  /* HEADER SECTION END */

  /* MAIN SECTION */
  main {
    padding-top: 7vh;
    @include flexRowGap(7vh);
    > section {
      @include flexRowGap(10vh);
      > section {
        @include flexRowGap(7vh);
      }
    }
  }

  /* CARE SECTION */
  .care {
    > section {
      figure {
        width: fit-content;
      }
    }

    li {
      line-height: 3;
    }
  }
  /* CARE SECTION END */
  /* BEHAVIOR SECTION */
  .behavior {
    display: flex;
    align-items: center;
    img {
      height: fit-content;
    }
  }
  .carousel {
    width: 80%;
  }
  .accordion {
    width: 80%;
  }
  /* BEHAVIOR SECTION END */
  /* SPECIES SECTION */
  /* SPECIES SECTION END */
  /* FOOD SECTION */
  .food {
    > ul {
      flex-direction: row;
      justify-content: space-between;
      li {
        width: 30%;
      }
      a {
        font-size: 14px;
        padding: 4% 9%;
      }
      p {
        height: 20vh;
      }
    }
  }
  .name {
    height: 8vh;
    overflow-y: hidden;
  }
  .description {
    height: 23vh;
    overflow-y: hidden;
  }
  /* FOOD SECTION END */
  /* HISTORY SECTION */
  .chronology {
    ul {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
    }
    li {
      width: 32%;
    }
    time {
      width: 9vh;
      height: 9vh;
      transform: translateY(4vh);
    }
  }
  /* HISTORY SECTION END */
  /* MAIN SECTION END */
}
