/* MOBILE DEVICE VERSION */
@media (min-width: $smBreakpoint) {
  /* HEADER SECTION */
  header {
    padding-top: $navFixedGap;
    > article {
      @include bgPic("/img/hamster/bg-mobile-header.png", bottom, cover, 152vw);
      padding: 5%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h1 {
        font-family: $h1FontFamily;
        justify-self: center;
        color: white;
        font-size: 42px;
      }
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
      }
      li {
        display: flex;
        width: 100%;
      }
      a {
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 2.5vh;
        background-color: rgba(170, 170, 170, 0.4);
        padding: 4%;
        color: white;
        text-transform: capitalize;
        &:hover {
          color: white;
        }
      }
    }
  }
  h1 {
    > span {
      color: mediumseagreen;
    }
    i {
      color: #797979;
    }
  }
  .container-fluid {
    > ul {
      display: none;
    }
  }
  .offcanvas-body {
    a {
      text-transform: capitalize;
    }
  }
  /*  HEADER SECTION END */

  /* MAIN SECTION */
  main {
    padding: 0 5%;
    padding-bottom: 5vh;
    > section {
      @include flexRowGap(5vh);
      padding-top: $navFixedGap;
      > section {
        @include flexRowGap(3vh);
      }
    }
  }
  .title {
    @include flexRowGap(3vh);
    h2 {
      color: rgb(60, 179, 113);
    }
    p {
      text-align: center;
    }
  }
  h3 {
    text-align: center;
  }


  /* CARE SECTION */
  .care {
    > .title {
      a {
        color: cornflowerblue;
        text-decoration: underline;
      }
    }
    > figure {
      @include bgPic("/img/hamster/bg-care.png", center, cover, 23vw);
    }
    > section {
      article {
        @include flexRowGap(3vh);
      }
      figure {
        display: flex;
        justify-content: space-between;
      }
      img {
        width: 49%;
      }
    }
    li {
      line-height: 2;
    }
  }
  /* CARE SECTION END */
  /* BEHAVIOR SECTION */
  .behavior {
    > section {
      @include flexRowGap(0vh);
    }
    img {
      height: 55vw;
    }
    > p {
      text-align: center;
    }
  }
  .accordion {
    --bs-accordion-btn-focus-border-color: rgb(231, 138, 155);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(217, 76, 102, 0.5);
    --bs-accordion-btn-icon: none;
    --bs-accordion-btn-active-icon: none;
  }
  .accordion-button {
    display: flex;
    column-gap: 1.5vh;
  }
  .accordion-button:not(.collapsed) {
    background-color: rgb(250, 217, 223);
    color: #e04e69;
  }

  /* BEHAVIOR SECTION END */
  /* SPECIES SECTION */
  .species {
    img {
      width: 100%;
    }
    > section {
      padding: 0 10%;
      article {
        @include flexRowGap(2vh);
      }
    }
    aside {
      @include flexRowGap(1vh);
    }
    h3 {
      text-align: left;
      margin: 0;
    }
    h4 {
      color: #d85a71;
      font-size: 18px;
      margin: 0;
    }
    ul {
      @include flexMenu;
      width: fit-content;
      padding-left: 2%;
      column-gap: 2vh;
    }
    li {
    }
    a {
      text-align: center;
      color: dimgray;
      padding: 5% 0;
      font-size: 24px;
      width: 40%;
      text-transform: capitalize;
      background-color: white;
    }
  }
  /* SPECIES SECTION END */
  /* FOOD SECTION */
  .food {
    > section {
      align-items: center;
    }
    > figure {
      @include bgPic("/img/hamster/bg-food.png", center, cover, 15vh);
    }
    > ul {
      padding: 0;
      @include flexBoxColumn;
      li {
        @include flexBoxColumn;

        align-items: center;
        text-align: center;
      }
      i {
        padding: 20%;
        font-size: 72px;
        color: darkgrey;
      }
      p {
        padding-bottom: 3vh;
      }

      a {
        padding: 3% 8%;
        font-size: 18px;
        color: white;
        text-transform: capitalize;
      }
    }
    [href="#apple"] {
      background-color: dodgerblue;
    }
    [href="#seed"] {
      background-color: darkcyan;
    }
    [href="#shop"] {
      background-color: darkred;
    }
  }

  .card {
    width: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-img-top {
    height: 35vh;
    padding-top: 3%;
    width: fit-content;
  }

  .btn-secondary {
    border-radius: 0;
  }
  /* FOOD SECTION END */
  /* HISTORY SECTION */
  .history {
    > section {
      > figure {
        @include bgPic("/img/hamster/bg-history.png", top, cover, 42vw);
      }
    }
  }
  .chronology {
    ul {
      margin: 0;
      padding: 0;
      @include flexRowGap(3vh);
      align-items: center;
    }
    li {
      margin: 0;
      padding: 0;
      width: 70%;
      @include flexRowGap(0vh);
      align-items: center;
    }

    article {
      padding-top: 5vh;
      border-top: 2px solid #d85a71;
    }

    img {
      width: 100%;
    }
  }
  time {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 17vw;
    height: 17vw;
    border: none;
    background-color: #d85a71;
    color: white;
    transform: translateY(7vw);
  }

  /* HISTORY SECTION END */
  /* MAIN SECTION END */

  /* FOOTER SECTION END */
  footer {
    text-align: center;
    font-size: 18px;
    padding: 5%;
  }
  /* FOOTER SECTION END */
}
