/* MOBILE DEVICE VERSION */
@media (min-width: $smBreakpoint) {
  /* HEADER SECTION */
  header {
    padding-top: $navFixedGap;
    > article {
      @include bgPic("/img/index/bg-mobile-header.jpg", right, cover, 152vw);
      padding: 5%;
      display: flex;
      flex-direction: column;
      justify-content: baseline;
      h1 {
        font-family: $h1FontFamily;
        justify-self: center;
        color: white;
        font-size: 42px;
      }
      ul {
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        row-gap: 1vh;
      }
      li {
        display: flex;
        width: 100%;
      }
      a {
        width: 100%;
        display: flex;
        align-items: center;
        column-gap: 2.5vh;
        background-color: rgba(170, 170, 170, 0.4);
        padding: 4%;
        color: white;
        text-transform: capitalize;
        &:hover {
          color: white;
        }
      }
    }
  }
  h1 {
    > span {
      color: mediumseagreen;
    }
    i {
      color: #797979;
    }
  }
  .container-fluid {
    > ul {
      display: none;
    }
  }
  .offcanvas-body {
    a {
      text-transform: capitalize;
    }
  }
  /*  HEADER SECTION END */
}
