@media(min-width:1000px){

    // header
    header{
        h2 {
            display: none;
        }
    }

    // navi
    nav {
        position: relative;
        height: 80vh;
        width: 100%;
        @include catTopbg(
            "/img/cat/cat_bg_header.jpg",
            cover
            );

    > ul {
        width: 40%;
        border-bottom: 6px solid $otherColor3;

        >li {
            @include flexBoxColumn;
            padding: 4%;
        }
    }

    a{
        text-decoration: none;
        color: whitesmoke;
        justify-content: space-evenly;
        font-size: 20px;
        font-weight: 400;
        font-family: $givenFont1;

        &:hover{
            color: $otherColor2;

        }
    }

    }

    /* Common Cat Behavior issues*/
    /* behavior*/
    .behavior{
        @include flexBoxColumn;
        flex-direction: row;
        flex-wrap: wrap;
        width: 90%;
        justify-content: space-evenly;
        padding-left: 5%;
        margin-top: 5%;
        
    }
    
    /* Common Cat Behavior issues*/
    /* cat_alert*/
    #cat_alert{
        height: 64vh;
    }

   /* 10Most popular cat breeds : catCarouselImg */
   #catCarouselImg{
        width: 42vh;
        height: 80vh;
    }


    /* food section: cardCat*/
    .catRecommend{
        @include flexBoxColumn;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        padding-left: 5%;
        margin-top: 5%;
    }

    
     /* food section: cardCat*/
     .cardCat{
        height: 85vh;
     }

}