@media(min-width: "300px"){

   /* catHeader*/
   .catHeader{
      @include catTopbg('/img/cat/cat_bg_header.jpg',center,cover);
      font-family: $givenFont2;
      display: flex;
      justify-content: center;
      height: 80vh;
   }

   /* h2*/
   h2{
      font-family: $givenFont1;
      color:$catH2FontColor;
      font-size: 18px;
      font-weight: 600;
      text-align: center;
      line-height: 2;
      row-gap: 2;
      height: 8vh;
      padding-top: 4%;
   }

   /* Section: Social media */
   .big_bottom {
        display: none;
   }

   /* Section: Social media:  p-4*/
   .p-4{
      border: 10px solid green;
   }


   /* Common cat behavior issues*/
   /* cat_alert*/
   #cat_alert{
      width: 48vh;
      height: 75vh;
   }

   /* Common cat behavior issues*/
   /* catRecommend*/
   .catRecommend{
      @include flexBoxColumn;
      align-items: center;
      text-align: center;
      font-family: $defaultFontFamily;
   }


   /* common cat behavior issues*/
   .behavior{
      @include flexBoxColumn;
      align-items: center;
      text-align: center;

      img{
         width: 42vh;
         height: 30vh;
      }
   }
      
   /* 10Most popular cat breeds : catCarouselImg */
   #catCarouselImg{
      width: 42vh;
      height: 30vh;
   }

   /* Best vet recommended cat food: cardCat */
   .cardCat{
      width: 48vh;
      height: 70vh;
      padding: 3%;
      border-radius: 15%;
      background-color: $fontColor;
      text-align: center;
      line-height: 1.5;
      margin-bottom: 2vh;

      >img{
         width: 32vh;
         height: 40vh;
         align-items: center;
         justify-content: center;
      }
   }


    
}