@media(min-width:300px){

    header {
        > nav {
            display: none;
        }

        > details {
            display: flex;
            flex-direction: column;
        }
    }

    @include bgPic(
       "img/cat/cat_01.jpg",
       inherit,
       50vh
    );
}