@media(min-width:700px){

    /* Common Cat Behavior issues*/
    /* behaviour*/
    .behavior{

        img{
            width: 42vh;
            height: 30vh;
         }
      
    }

    /* Common Cat Behavior issues*/
    /* cat_alert*/
     #cat_alert{
        width: 58vh;
        height: 44vh;
        line-height: 2;
     }

     /* food section: cardCat*/
     .cardCat{
        width: 58vh;
        height: 65vh;
        padding: 3%;
        border-radius: 15%;
        background-color: $fontColor;
        text-align: center;
        line-height: 1.5;
        margin-bottom: 2vh;
  
        >img{
           width: 32vh;
           height: 40vh;
           align-items: center;
           justify-content: center;
        }
     }


    
}